body {
  background-color: white;
  position:static;
  margin: 0;
  font-family: Arial, sans-serif;
}


.top-bar {
  background-color: white;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    padding: 20px 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}
.nav-top a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}


.bottom-bar {
  top: 0;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255,0.4);
  backdrop-filter: saturate(150%) blur(30px);
}
.bottom-bar-inside {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    margin: 0 auto;
    width: calc(100% - 120px);
    z-index: 1000;
}

.bottom-bar .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-bar .logo {
  width: 24px;
  height: 24px;
}
.bottom-bar h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.bottom-bar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bottom-bar .right a {
  text-decoration: none;
  font-size: 14px;
}
.color{
  color: #333;
}
.buy-button-1 {
  background-color: red;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
}


.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 20px;
  gap: 40px;
  max-width: 1264px;
  margin: 0 auto;
}
h1{
  font-size: 60px;
  font-weight: 700;
  color: #111;
  max-width: 650px;
  line-height: 1;
  margin: 0 auto;
}
.img{
  width: 88%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.descripcion {
  max-width: 760px;
  color: #2c2b2b;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
}
.buy-button-2 {
  background-color: white;
  color: red;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: 600;
  border: red solid 1px;
}
.buy-button-2:hover {
  transition: background-color 0.3s ease;
  color: white;
  background-color: #e9335f;
}
@media (max-width: 768px) {
  .nav-top{
    
  }
  .nav-top a{
    font-size: 0.rem;
  }
  .first-section h1{
    min-width: 25%;
    font-size: 3rem;
  }
  .top-bar .nav-top{
    display: flex;
    gap:1px
  }
  .bottom-bar .bottom-bar-inside{
    display: flex;
    flex-direction: column;
    
  }
}




.background-dark-section{
  background-color: black;
}
.dark-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  color: white;
  padding: 100px 40px;  
  text-align: center;
  max-width: 1264px;
  margin: 0 auto;
}
.title {
  font-size: 64px;
  max-width: 724px;
  margin-left: auto;
  margin-right: auto;
}
.descripcion1{
  width: 80%;
  max-width: 700px;
  margin-top: -40px;
  font-size: 20px;
  color: rgb(189, 189, 189);
  line-height: 1.5;
}
.img1 {
  width: 100%;
  height: auto;
  display: auto;
}
.boxes{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.box {
  background-color: rgb(35, 34, 34);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border-radius: 30px;
  max-width: 400px;
  flex: 1 1 400px;
}
.box h2 {
  font-size: 19px;
  margin: 30px;
  margin-bottom: -20px;
}

.descripcion2 {
  font-size: 17px;
  color: rgb(189, 189, 189);
  margin: 30px;
  line-height: 1.5;
}

.img2{
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  align-self: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .boxes{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap:30px;
    margin-top: 20px;
    max-width: 100%;
    min-width: 25%;
    
    
  }
  .box {  
    margin-top: 20px;
    flex: 1 1;
    
  }
  .box h2{
    font-size: 1.9rem;
    font-weight: bold;
  }
  .descripcion2{
    font-size: 0.55 rem; 

  }

  .img2 {
    
  }
 
  
}

.box1 {
  background-color: rgb(35, 34, 34);
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  gap: 15px;
  align-items: stretch;
  justify-content: space-between;
  flex: 1 1 100%;
  max-width: 910px;
  overflow: hidden;
}
.img3 {
  display: flex;
  margin-left: 30px;
  max-width: 90px;
  margin-top: 30px;
}
.box1-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.box1-text  h2 {
  font-size: 19px;
  margin: 30px;
  margin-bottom: -20px;
}
.box1-text  p {
  font-size: 17px;
  color: rgb(189, 189, 189);
  margin: 30px;
  width: 70%;
  line-height: 1.5;
}
.video {
  flex: 1;
  width: 420px;
  height: 342px;
  object-fit: cover;
}


.dark-section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 20px;
}
.img4{
  width: 80%;
  height: auto;
}
.boxes1 {
  min-width: 25%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;             
  margin: 0 auto; 
  margin-left: -25px;
  justify-content: center;

}
.card {
  border-radius: 30px;
  min-width: 25%;
  width: 250px;
  text-align: left;
  margin-left: 80px;

}


.dark-section2 a{
  font-size: 18px;
  padding-top: 60px;
  text-decoration: none;
  color: royalblue;
}
.card h3 {
  margin-bottom: 15px;
}
.card p {
  font-size: 18px;
  color: rgb(189, 189, 189);
  line-height: 1.5;
}
.card img{
  max-width: 40px;
}

@media (max-width: 768px) {
.dark-section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
   
}
.dark-section2 h2 {
  font-size: 2.2rem;
  max-width: 50%;
}

.dark-section2 p{
  font-size: 1.1rem;
  max-width: 55%;
}

.dark-section2 img.img4{
  max-width: 55%;
}



.boxes1{
  min-width: 25%;
  display: flex;
  flex-wrap: wrap;
  padding: 200px;
  width: calc(100%-400px);
  margin-top: -180px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: flex-start;
  justify-content: space-between;
  
  
}

.card{
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  font-size: 0.7rem;
  margin-left: 0px;
  min-width: 45%;
  justify-content: flex-start;
}

.card p{
  font-size: 0.8rem;
  max-width: 80%;
}

}

.white-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  color: black;
  padding: 100px 40px;  
  text-align: center;
  max-width: 1264px;
  margin: 0 auto;
}
.img5{
   max-width: calc(100% - 80px);
    border-radius: 30px;
    padding: 40px;
}
.white-section p{
  width: 80%;
  max-width: 680px;
  font-size: 20px;
  line-height: 1.5;
}
.box1.white{
  background-color: #f5f5f5;
  gap: 0;
}
p.grey-text{
  color: #333333;
}
.white-text{
  color: white;
  flex: 1;
}
.box-image{
  position: relative;
  border-radius: 30px;
  max-width: 400px;
  flex: 1 1 400px;
  overflow: hidden;
  background-color: #2f434b;
}
.img6{
  flex: 1;
  width: 410px;
  height: 310px;
  object-fit: cover;
  margin-top: 40px;
  border-top-left-radius: 20px;
}
.img7{
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 60px;
  padding-left: 40px;
  left: 0;
}
.description-img{
  position: relative;
  color: rgb(189, 189, 189);
  font-size: 17px;
  line-height: 1.5;
  padding: 20px;
  z-index: 1
}

@media (max-width: 768px) {
  .box1.white{
    margin-top: 10px;
    
  }
  .box1-text{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
    
    
  }
  .box1-text h2{
    min-width: 25%;
    justify-content: flex-start;
    font-size: 0.9rem;
    border-bottom: #2f434b;
    
  }
  .box1-text p{
    font-size: 0.9rem;
    
    
    
  }
  .box1-text img{
    
    margin-top: -20px;
    max-width: 50%;
    

  }
}